<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email address:</b>
  <%= @user.email_address %>
</p>

<p>
  <b>Maintain parts:</b>
  <%= @user.maintain_parts %>
</p>

<p>
  <b>Administrator:</b>
  <%= @user.administrator %>
</p>

<p>
  <b>Crypted password:</b>
  <%= @user.crypted_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<p>
  <b>Remember token:</b>
  <%= @user.remember_token %>
</p>

<p>
  <b>Remember token expires at:</b>
  <%= @user.remember_token_expires_at %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Key timestamp:</b>
  <%= @user.key_timestamp %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
