<p id="notice"><%= notice %></p>

<p>
  <b>Customer code:</b>
  <%= @customer.customer_code %>
</p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @customer.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @customer.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state %>
</p>

<p>
  <b>Zip code:</b>
  <%= @customer.zip_code %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Contact:</b>
  <%= @customer.contact %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<h2>Products</hs>
<% @customer.products.each do |product| %>
	<%= render :partial => "products/product", :locals => {:products => product} %>
<% end%>


	
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
