<h1>Listing vendors</h1>

<table>
  <tr>
    <th>Vendor code</th>
    <th>Name</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Phone</th>
    <th>Contact</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td><%= vendor.vendor_code %></td>
    <td><%= vendor.name %></td>
    <td><%= vendor.address1 %></td>
    <td><%= vendor.address2 %></td>
    <td><%= vendor.city %></td>
    <td><%= vendor.state %></td>
    <td><%= vendor.zip_code %></td>
    <td><%= vendor.phone %></td>
    <td><%= vendor.contact %></td>
    <td><%= vendor.email %></td>
    <td><%= link_to 'Show', vendor %></td>
    <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Destroy', vendor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vendor', new_vendor_path %>
