<h1>Listing products</h1>

<%= link_to 'New Product', new_product_path %>

<p><%= will_paginate @products %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Serial number</th>
    <th>Date invoiced</th>
    <th>Vendor invoice</th>
    <th>Scc invoice</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.serial_number %></td>
    <td><%= product.date_invoiced %></td>
    <td><%= product.vendor_invoice %></td>
    <td><%= product.scc_invoice %></td>
    <td><%= product.customer_id %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<p><%= will_paginate @products %></p>